

<div class="Login_Form">
<h1>Log In</h1>
<%= form_for(:user, :url => {:controller => 'sessions', :action => 'create'}) do |f| %>
  <p> Email:</br> <%= f.text_field :email %> </p>
  <p> Password:</br> <%= f.password_field :password %></p>
  <%= f.submit :Login %>
<% end %>
<% if @user.errors.any? %>
  <ul class="Login_Errors">
  <% for message_error in @user.errors.full_messages %>
    <li>* <%= message_error %></li>
  <% end %>
  </ul>
<% end %>

</div>